<?xml version="1.0"?>
<model>
  <name>Solar panel with docking station.</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
   <name>Alvaro Miyazawa</name>
   <email>alvaro.miyazawa@york.ac.uk</email>
  </author>

  <description>
	Solat panel model with docking station.
  </description>
</model>
